<!DOCTYPE html>
<html data-ng-app="AngularIntroApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="styles/main.css"/>
</head>
<body>


<div class="hero-unit" data-ng-controller="youtubeController">
    <h1>Youtube Search</h1>

    <p>Search for videos on YouTube</p>
    <input id="search" type="text" placeholder="cats" ng-model='text' ng-change='ytSearch()'>


    <div class="container">
        <article ng-model="funk" data-ng-repeat="youtube in funk">
            <youtubed data-youtube="youtube"></youtubed>
        </article>
    </div>
</div>
<hr>
<div class="container" data-ng-controller="MainCtrl" data-ng-view></div>

<script src="scripts/vendor/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>

<!-- build:js scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/modules/youtubeService.js"></script>
<script src="scripts/controllers/youtubecontroller.js"></script>
<script src="scripts/Directives/youtubeDirective.js"></script>
<!-- endbuild -->
</body>
</html>
